<% include ../partials/head.ejs %>
<% include ../partials/nav.ejs %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3 font-weight-normal"><%= title %></h1>
        <p class="lead font-weight-normal"><%= description %></p>
        <a class="btn btn-outline-secondary" href="conference/add-conference">Add conference</a>
    </div>
</div>


<div class="row">
    <% conferences.forEach(function(conference) { %>
        <div class="card justify-content-center w-25 m-auto ">
            <div class="card-header"><%= conference.name %> | <small><%= conference.place %></small></div>
            <div class="card-body">
                <p>
                    Pony robins peacocks an kale. Post pounder
                    calf, hay or duck is, tool shed horse. veterinarian blue
                    berries cattle jelly canning. Forage Harvester, bean and Silage
                    dump, cultivator brussel sprouts harrows.
                </p>
            </div>
        </div>
    <% }); %>
</div>

<% include ../partials/foot.ejs %>

