<% include partials/lp/head.ejs %>
<% include partials/lp/nav.ejs %>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal"><%= title %></h1>
        <p class="lead font-weight-normal"><%= description %></p>
        <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Book a conference</h2>
            <p class="lead">What type of conference do you need?</p>
        </div>
        <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <img src="https://www.unicef.org.uk/babyfriendly/wp-content/uploads/sites/2/2018/03/2000x1000-Conference-2016.jpg"
                 class="img-fluid" alt="Responsive image">
        </div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Book a speaker</h2>
            <p class="lead">What type of speaker do you need?</p>
        </div>
        <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <img src="https://www.yourselfquotes.com/wp-content/uploads/2018/04/Richard-Branson-Business-Thoughts.jpg"
                 class="img-fluid" alt="Responsive image">
<!--            -->
        </div>
    </div>
</div>

<% include partials/lp/foot.ejs %>>